table.tablesorter {
	font-size: 0.7em;//12px; Modificado por F.A.C.
	background-color: #CDCDCD;
	width: 90%;
	/*width: 1024px;*/
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #CDCDCD;
}
table.tablesorter td {
	color: #3D3D3D;
	padding: 5px;
}
table.tablesorter .even {
	background-color: #C0EDB6;
}
table.tablesorter .odd {
	background-color: white;
}
table.tablesorter .header {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}